{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
  <h1>
    {% if form.instance.pk %}
      {% trans "Edit label" %}
    {% else %}
      {% trans "Create label" %}
    {% endif %}
  </h1>

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-warning">
      {% if form.instance.pk %}
        {% trans "Edit" %}
      {% else %}
        {% trans "Save" %}
      {% endif %}
    </button>
  </form>
{% endblock %}
