{% load django_bootstrap5 %}
{% load i18n %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% trans "Task Manager" %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="bg-light">

  <!-- Header -->
  <header class="p-3 bg-dark text-white mb-4">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <span class="fs-4">{% trans "Task Manager" %}</span>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a href="{% url 'user_list' %}" class="nav-link px-2 text-white">
              {% trans "Users" %}
            </a>
          </li>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'status_list' %}" class="nav-link px-2 text-white">
                {% trans "Statuses" %}
              </a>
            </li>
          {% endif %}
        </ul>

        {% if user.is_authenticated %}
          <a href="{% url 'user_update' user.pk %}" class="btn btn-outline-warning me-2">
            {% trans "Edit profile" %}
          </a>
          <form method="post" action="{% url 'logout' %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-light">{% trans "Logout" %}</button>
          </form>
        {% else %}
          <div class="text-end">
            <a href="{% url 'login' %}" class="btn btn-outline-light me-2">{% trans "Login" %}</a>
            <a href="{% url 'user_create' %}" class="btn btn-warning">{% trans "Sign up" %}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </header>

  <!-- Flash messages block -->
  <div class="container mt-3">
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == "error" %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {% endif %}
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}
    {% endif %}
  </div>


  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  </body>
</html>
