{% load django_bootstrap5 %}
{% load i18n %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% trans "Task Manager" %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="bg-light">

  <!-- Header -->
  <header class="p-3 bg-dark text-white mb-4">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <span class="fs-4">{% trans "Task Manager" %}</span>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">{% trans "Users" %}</a></li>
        </ul>

        <div class="text-end">
          <a href="#" class="btn btn-outline-light me-2">{% trans "Login" %}</a>
          <a href="#" class="btn btn-warning">{% trans "Sign up" %}</a>
        </div>
      </div>
    </div>
  </header>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  </body>
</html>
